<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/fac.css">
</head>

<body>
    <main>
        <% data.forEach( value=> { %>
            
            <div>
                <img src="<%= value.image %>" alt="">
                <h2>
                    <%= value.character %>
                </h2>
                <h1>
                    <%= value.quote %>
                </h1>
                <form action="/sewar/<%=value.id%>">
                    <button>view deatils</button>
                </form>
            </div>
           
            
            <% }) %>
            
    </main>
</body>

</html>